document-scanner-1.0-beta.dmg filter=lfs diff=lfs merge=lfs -text
document-scanner_1.0-beta-1_all.deb filter=lfs diff=lfs merge=lfs -text
document-scanner-1.0-beta-1.0-beta-installer.jar filter=lfs diff=lfs merge=lfs -text
